h1, h2, h3 {
    color: grey;
}
#main {
    color: #e60202;
}
.h2 {
    color: red;
}
.heading {
    color: rgb(0, 255, 0);
}
ul > li {
    font-weight: bold;
}
section > p {
    color: red;
   }
section p {
        font-size: 40px;
}
#h2 {
    color: indigo;
}
.first a {
    color: green;
}
p .first a {
    color: green;
}
div ~ p {
    color: salmon;
}
/* 
black: #000; rgb (0 0 0); rgb (0 0 0 / 0.5); hsl (0 0% 0%);
blue: #0000ff; rgb (0 0 255); rgb (0 0 255 / 0.5); hsl (240 100% 50%);
green: #00ff00; rgb (0 255 0); rgb (0 255 0 / 0.5); hsl (120 100% 50%);
red: #ff0000; rgb (255 0 0); rgb (255 0 0 / 0.5); hsl (0 100% 50%);
white: #fff; rgb (255 255 255); rgb (255 255 255 / 0.5); hsl (0 0% 100%); 
yellow: #ffff00; rgb (255 255 0); rgb (255 255 0 / 0.5); hsl (60 100% 50%); 
*/
.translucent-box {
    background-color: hsl(0deg, 100%, 50%, 0.5);
}

/* Task #7
Розмір шрифту для body та h1 можна обчислити відповідно до заданих правил успадкування розміру шрифту.
Розмір шрифту для body: Базовий розмір шрифту кореневого елемента = 100%. Згідно з вказаним розміщенням розміру шрифту для body, він успадковує розмір шрифту кореневого елемента, збільшений на 40%. Це означає, що розмір шрифту для body дорівнює 100% + 40% = 140% розміру шрифту кореневого елемента.
Розмір шрифту для h1: Базовий розмір шрифту кореневого елемента = 100%. Згідно з вказаним розміщенням розміру шрифту для h1, він успадковує розмір шрифту кореневого елемента, збільшений на 140%. Це означає, що розмір шрифту для h1 дорівнює 100% + 140% = 240% розміру шрифту кореневого елемента.
Отже, розмір шрифту для body буде 140%, а розмір шрифту для h1 буде 240% від базового розміру шрифту кореневого елемента.
*/