*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
/* task 1 */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  justify-content: space-between;
}

.item-blue {
  flex-grow: 3;
  background-color: blue;
  /* width: 400px; */
}
.item-orange {
  background-color: orange;
  /* width: 100px; */
}
.item-green {
  background-color: green;
  flex-grow: 1;
  /* width: 200px; */
}

.item {
  color: white;
  width: 100px;
}
/* task 2 */
body {
  margin: 0;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.link-list {
  display: flex;
  margin: 0;
  list-style: none;
}

.link {
  padding: 0.5rem;
}

.link:hover {
  background-color: #777;
}

.link a {
  color: inherit;
  text-decoration: none;
}
/* Task 3 */
body {
  --padding: 5vw;
  --max-width: 180ch;
}

.flexbox {
  --min: 30ch;

  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
}
.card {
  flex: 1 1 var(--min);
}
