.about-section {
  background-image: url(../image/Honeycombs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 77px;

  .ellipse-gradient {
    background-image: url(../image/about-background-radial-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    max-width: 100%;
    padding-bottom: 77px;
  }
  @media (min-width: 950px) {
    .ellipse-gradient {
      background-position: center;
    }
  }
  .about-content {
    max-width: 784px;
    margin: 0 auto;
    padding-top: 53px;
    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.3px;
      text-align: center;
    }
  }
}
/* .about-section:focus-within {
  box-shadow: 10px #00000040;
} */
.about-button-container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.question-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* gap: 60px; */
  width: 100%;
  max-width: 1064px;
  margin: auto;
  position: relative;
  flex-wrap: wrap;

  img {
    width: 100%;
  }

  p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 100px;
  }
}
.question-section::before {
  content: "";
  background-image: url(../image/bee-top.png);
  background-repeat: no-repeat;
  width: 230px;
  height: 232px;
  position: absolute;
  top: -85px;
  left: -97px;
}
.question-section::after {
  content: "";
  background-image: url(../image/bee-bottom.png);
  background-repeat: no-repeat;
  width: 221px;
  height: 312px;
  position: absolute;
  top: 167px;
  left: 1017px;
}

.soti-top {
  background-image: url(../image/soti-top.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
}
.reviews-h2 {
  margin-top: 42px;
}
.bg-reviews {
  background-image: url(../image/reviews.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 115px 20px;
  margin-bottom: 80px;
  .reviews {
    width: 100%;
    max-width: 995px;
    border-top: solid 1px #fff7e6;
    border-bottom: solid 1px #fff7e6;
    margin: 0 auto;
    p {
      color: #fff7e6;
      text-align: left;
      font-style: italic;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0.3px;
      padding: 26px 61px;

      span {
        display: block;
        text-align: right;
      }
    }
  }
}
.reviews {
  @media (max-width: 576px) {
    background: rgba(0, 0, 0, 0.3);
  }
}
.reviews {
  @media (max-width: 768px) {
    background: rgba(0, 0, 0, 0.3);
  }
}
.reviews img {
  @media (max-width: 576px) {
    width: 80px;
    height: 80px;
  }
}
.reviews img {
  @media (max-width: 768px) {
    width: 80px;
    height: 80px;
  }
}

.soti-bottom {
  background-image: url(../image/soti-bottom.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
}
