.about-section {
  background-image: url(../image/Honeycombs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 77px;

  .ellipse-gradient {
    background-image: url(../image/about-background-radial-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    max-width: 100%;
    padding-bottom: 77px;
  }
  @media (min-width: 950px) {
    .ellipse-gradient {
      background-position: center;
    }
  }
  .about-content {
    max-width: 784px;
    margin: 0 auto;
    padding-top: 53px;
    p {
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.3px;
      text-align: center;
    }
  }
}
.about {
  position: relative;
  padding: 296px 10px 145px;
  h1 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    width: 100%;
  }
  p {
    color: #000;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.03px;
  }
  .column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .col {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
    @media (min-width: 950px) {
      width: 50%;
    }
  }
  .col1 {
    width: 100%;
    height: auto;
    @media (min-width: 950px) {
      width: 40%;
    }
  }
  .col2 {
    width: 100%;
    height: auto;
    img {
      width: 100%;
    }
    @media (min-width: 950px) {
      width: 60%;
    }
  }
  .column-row-reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }
}
.about::before {
  content: "";
  background-image: url(../image/abouts-5-left.png);
  background-repeat: no-repeat;
  width: 500px;
  height: 232px;
  position: absolute;
  bottom: -30px;
  left: -80px;
}
.position::before {
  content: "";
  background-image: url(../image/abouts-7-bee-top.png);
  background-repeat: no-repeat;
  width: 500px;
  height: 320px;
  position: absolute;
  top: 150px;
  right: -118px;
}
.position::after {
  content: "";
  background-image: url(../image/abouts-6-bee.png);
  background-repeat: no-repeat;
  width: 500px;
  height: 232px;
  position: absolute;
  top: 486px;
  left: -69px;
}
.about::after {
  content: "";
  background-image: url(../image/abouts-6-right.png);
  background-repeat: no-repeat;
  width: 310px;
  height: 232px;
  position: absolute;
  bottom: 7px;
  right: -80px;
  z-index: -1;
}
@media (max-width: 992px) {
  .about::after,
  .about::before,
  .position::before,
  .position::after {
    display: none;
  }
}

.about-button-container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.question-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  max-width: 1064px;
  margin: auto;
  position: relative;
  flex-wrap: wrap;

  img {
    width: 100%;
  }

  p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 100px;
  }
}

.question-section-item {
  width: 100%;
  padding: 0 10px;

  @media (min-width: 992px) {
    width: 33.333%;
  }
}

.question-section::before {
  content: "";
  background-image: url(../image/bee-top.png);
  background-repeat: no-repeat;
  width: 230px;
  height: 232px;
  position: absolute;
  top: -85px;
  left: -50px;
  z-index: -1;
}
.question-section::after {
  content: "";
  background-image: url(../image/bee-bottom.png);
  background-repeat: no-repeat;
  width: 221px;
  height: 312px;
  position: absolute;
  top: 167px;
  left: 1017px;
  z-index: -1;
}

@media (max-width: 992px) {
  .question-section::after,
  .question-section::before {
    display: none;
  }
}

.soti-top {
  background-image: url(../image/soti-top.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
}
.reviews-h2 {
  margin-top: 42px;
}
.bg-reviews {
  background-image: url(../image/reviews.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 115px 20px;
  margin-bottom: 80px;
  .reviews {
    width: 100%;
    max-width: 995px;
    border-top: solid 1px #fff7e6;
    border-bottom: solid 1px #fff7e6;
    margin: 0 auto;
    p {
      color: #fff7e6;
      text-align: left;
      font-style: italic;
      font-size: 24px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0.3px;
      padding: 26px 61px;

      span {
        display: block;
        text-align: right;
      }
    }
  }
}

.soti-bottom {
  background-image: url(../image/soti-bottom.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 250px;
}
