.honey,
.mixes,
.pollen {
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 237px;
}

.honey {
  background-image: url(../image/honey.jpg);
}
.mixes {
  background-image: url(../image/mixes.jpg);
}
.pollen {
  background-image: url(../image/pollen.jpg);
}

.background-color-a {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* max-width: 413px; */
  background-color: #fece67;
  padding-top: 37px;
  padding-bottom: 37px;

  a {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
  }
}
