.titel {
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  h1 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 54px;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;

  .contacts,
  .contact-form {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

    @media (min-width: 800px) {
      width: 100%;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 100px;
    }
    @media (min-width: 1140px) {
      width: 45%;
      margin: 0px;
      margin-bottom: 270px;
    }
  }
}
.contacts {
  position: relative;
  h2 {
    color: #654501;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 0;
    padding-bottom: 30px;
  }
  p {
    color: #654501;
    font-size: 18px;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0.3px;
    text-align: left;
    padding-bottom: 30px;

    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
  }
}
.contacts::before {
  content: "";
  background-image: url(../image/contacts.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 360px;
  height: 279px;
  background-size: 360px auto;
  transform: scaleX(-1);
  top: 320px;
  right: -20px;
  z-index: -1;
}
@media (min-width: 800px) {
  .contacts::before {
    transform: scaleX(1);
    width: 870px;
    height: 557px;
    background-size: 870px 557px;
    top: 295px;
    left: -134px;
  }
}
