.footer {
  background-image: url(../image/footer-bg.png);

  padding: 158px 60px 48px;
  background-repeat: repeat-x;
  background-size: auto;
  position: relative;

  @media (min-width: 955px) {
    padding: 158px 188px 48px;
  }
  img {
    margin: 0 7px;
  }
}

footer::before {
  content: "";
  background-image: url(../image/footer-bg-s.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 0px;
}
footer::after {
  content: "";
  background-image: url(../image/bg-color.jpg);
  background-repeat: repeat-x;
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: 1px;
  left: 0px;
  z-index: -1;
}

.footer-section {
  .logo {
    text-align: center;
    margin-bottom: 32px;
  }
  .footer-main {
    margin-bottom: 32px;
    align-items: flex-start;
    ul {
      padding: 0;
    }
    .footer-main-item {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      padding: 0;

      @media (min-width: 1397px) {
        width: 33.333%;
        text-align: left;
        margin-bottom: 0px;
      }
    }
    h2 {
      color: #654501;
      font-weight: 600;
      font-size: 20px;
      line-height: 21px;
      letter-spacing: 0.3px;
      text-align: center;
      margin-bottom: 14px;
    }
    li {
      color: #654501;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.3px;
      text-align: left;
      padding-left: 50px;
      margin-bottom: 8px;
    }
    li > a {
      color: #654501;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      letter-spacing: 0.3px;
      padding-left: 10px;
    }
  }
}
.footer-ligal-list {
  display: flex;
  padding-left: 50px;

  li + li {
    padding-left: 14px;
  }
}
.footer-ligal p {
  color: #654501;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3px;
  padding-left: 50px;
}

.center {
  text-align: center;
}
