.login {
  justify-content: center;
  align-items: center;
  padding: 293px 10px 100px;
  .form {
    width: 100%;
    max-width: 530px;
    @media (min-width: 800px) {
      margin-left: 100px;
      margin-right: 100px;
    }
    label {
      color: #332300;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.3px;
      padding-bottom: 9px;
    }
    .login-button {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .button {
        width: 100%;
        @media (min-width: 800px) {
          width: 50%;
        }
      }
      a {
        font-size: 14px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        margin-top: 12px;
        width: 100%;
        @media (min-width: 800px) {
          width: 50%;
        }
      }
    }
  }
}
