.embla {
  position: relative;
  overflow: hidden;
  background-image: url(../image/reviews.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 115px 20px;
  margin-bottom: 80px;
  @media (min-width: 576px) {
    padding: 115px 50px;
  }
  @media (min-width: 992px) {
    padding: 115px 150px;
  }
}
.embla__container {
  display: flex;
}
.embla__viewport {
  overflow: hidden;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  border-top: solid 1px #fff7e6;
  border-bottom: solid 1px #fff7e6;
  p {
    color: #fff7e6;
    text-align: left;
    font-style: italic;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.3px;
    padding: 26px 61px;

    span {
      display: block;
      text-align: right;
    }
  }
  @media (max-width: 576px) {
    background: rgba(0, 0, 0, 0.3);
  }
  @media (max-width: 768px) {
    background: rgba(0, 0, 0, 0.3);
  }
  img {
    @media (max-width: 576px) {
      width: 80px;
      height: 80px;
    }
    @media (max-width: 768px) {
      width: 80px;
      height: 80px;
    }
  }
}

.embla__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  path {
    fill: #fff7e6;
    transition: fill 0.3s ease-in-out;
  }
  &:hover {
    path {
      fill: #fdb415;
    }
  }
  @media (max-width: 576px) {
    display: none;
  }
}

.embla__prev {
  left: 10px;
  @media (min-width: 768px) {
    left: 50px;
  }
}
.embla__next {
  right: 10px;
  @media (min-width: 768px) {
    right: 50px;
  }
}
