@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #009;
  --anchor-color: #333;
  --anchor-active-color: salmon;
  --primary-text-color: #000;
  --primary-bg-color: #fff;
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 0.875rem;
}

body {
  color: var(--main-color);
  font-family: var(--primary-font-family);
  font-size: clamp(0.85rem, 1.2rem, 1rem);
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}

h2 {
  font-size: clamp(1.3rem, 2vw, 1.5rem);
}

h3 {
  font-size: clamp(1.2rem, 1.5vw, 1.3rem);
}

ul {
  list-style: none;
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}
